
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
C                      = US
ST                     = NY
L                      = Stony Brook
O                      = Computer Science
OU                     = Netsys
CN                     = a1b20a6d44ffd1ee481b58d26f177d84a.profile.nrt52.cloudfront.net
emailAddress           = jnejati@cs.stonybrook.edu

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = a1b20a6d44ffd1ee481b58d26f177d84a.profile.nrt52.cloudfront.net
DNS.2 = *.a1b20a6d44ffd1ee481b58d26f177d84a.profile.nrt52.cloudfront.net
