
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
C                      = US
ST                     = NY
L                      = Stony Brook
O                      = Computer Science
OU                     = Netsys
CN                     = punchng.os.tc
emailAddress           = jnejati@cs.stonybrook.edu

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = punchng.os.tc
DNS.2 = *.punchng.os.tc
